#cont{
  display: block;
  width: 100%;


}
#left{
  width: 30rem;
  margin-left:250px;
}
#right{
  width: 30rem;
  margin-left:850px;
  margin-top: -530px
}
#con{
  height: 600px;
  align-items: center;
}
#full{
  width: 80%;
  height: 500px;

}
#rw{
  background-color: FireBrick;
  width: 95%;
  height: 300px;
  margin-left: 200px;
  margin-bottom: 30px;
}
#cl1{
  background-color: gray;
  width: 450px;
  height: 300px;
  margin-left: 200px;

}
#cl2{
  background-color: gray;
  width: 450px;
  height: 300px;
  margin-left: 20px;

}
