#cont{
  display: block;
  width: 100%;


}
#left{
  width: 30rem;
  margin-left:250px;
}
#right{
  width: 30rem;
  margin-left:850px;
  margin-top: -530px
}
#con{
  height: 600px;
  align-items: center;
}
#full{
  width: 80%;
  height: 500px;

}
