#cont{
  display: block;
  width: 100%;


}
#left{
  width: 30rem;
  margin-left:250px;
}
#right{
  width: 30rem;
  margin-left:850px;
  margin-top: -530px
}
#con{
  height: 600px;
  align-items: center;
}
#full{
  width: 80%;
  height: 500px;

}
#rw{
  background-color: FireBrick;
  width: 95%;
  height: 300px;
  margin-left: 200px;
  margin-bottom: 30px;
  border-radius: 10px;
}
#cl1{
  background-color: gray;
  width: 450px;
  height: 300px;
  margin-left: 200px;
  border-radius: 10px;

}
#cl2{
  background-color: gray;
  width: 450px;
  height: 300px;
  margin-left: 20px;
  border-radius: 10px;

}
#cl3{
  background-color: green;
  width: 450px;
  height: 300px;
  margin-left: 200px;
  margin-top: 30px;
  border-radius: 10px;

}
#cl4{
  background-color: green;
  width: 450px;
  height: 300px;
  margin-left: 20px;
  margin-top: 30px;

  border-radius: 10px;

}
#rw1{
  background-color: FireBrick;
  width: 95%;
  height: 300px;
  margin-top: 20px;
  margin-left: 200px;
  margin-bottom: 30px;
  border-radius: 10px;
}
#cl5{
  background-color: #20c997;
  width: 250px;
  height: 800px;
  margin-left: 20px;
  margin-top: 30px;

  border-radius: 10px;
}
#cl6{
  background-color: #20c997;
  width: 250px;
  height: 800px;
  margin-left: 20px;
  margin-top: 30px;

  border-radius: 10px;
}
#cl7{
  background-color: #20c997;
  width: 250px;
  height: 800px;
  margin-left: 20px;
  margin-top: 30px;

  border-radius: 10px;
}
#cl8{
  background-color: gray;

  height: 600px;
  margin-top: 20px;
  margin-left: 150px;
  border-radius: 10px;
}
#cl9{
  background-color: gray;

  height: 600px;
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 10px;
}
